@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", sans-serif;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}

.input {
  border: 1px black solid;
  padding: 3px 10px;
  width: 100%;
}

.background {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../public/nebuta.jpg');
  background-size: cover;
}

.back-blue {
  background-color: #a3b2b5;
}

.back-red {
  background-color: #ad4b02;
}

.back-brown {
  background-color: #432910;
}

.back-gray {
  background-color: #d7dbda;
}

.text-blue {
  color: #a3b2b5;
}

.text-red {
  color: #ad4b02;
}

.text-brown {
  color: #432910;
}

.text-gray {
  color: #d7dbda;
}

.back-img {
  background-image: url('../public/sea.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
