@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --dark-background: #1E1E1E;
  --dark-highlight: #D40000;
  --dark-text: #F8F8F8;
  
  --light-background: #F8F8F8;
  --light-highlight: #9D0000;
  --light-text: #000000;
}

body {
  font-family: "Inter", serif;
}

.btn {
  padding: 0.5rem 1rem;
}

.input {
  border: 1px black solid;
  padding: 3px 10px;
  width: 100%;
}

.background {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../public/nebuta.jpg');
  background-size: cover;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.red-shadow {
  box-shadow: 0px 0px 30px 5px #D40000;
}